/* header */
.header {
width:1919px;
height:778px;
background-color: rgb(1, 1, 49);

}
.items {
    position: absolute;
    left:100px ;
    color: white;
}
.items ::after {
    clear: both;
    overflow: wrap;
}
.items li {
    display: inline;
    list-style: none;
    width: 40px;
    height: 20px;
    padding-left: 95px;
}

.items>.ask {
    margin-left: 95px;
    width: 137px;
    height:  44px;
    border-radius: 3px;
    background-color: #569AF9;
    padding: 1px solid #569af9;
    color: #ffffff;
}
.content {
}


/* productInfo 产品介绍 */
.productInfo {
    text-align: center;
}
.productInfo .text .title {
    font-size: 30px;
    text-align: center;
}
.qppendInfo {
    font-size:20px;
font-family:MicrosoftYaHei;
color:rgba(102,102,102,1);
line-height:0px;
}
.cellContainer {
    display: flex;
    flex-wrap: wrap;
}
.cell {
    width: 300px;
    background-color: bisque;
    margin: 50px;
}
.find-more {
    width:231px;
height:55px;
background:rgba(86,154,249,1);
border-radius:28px;
font-size:20px;
font-family:MicrosoftYaHei;
color:rgba(255,255,255,1);
line-height:0px;
}
